# Question 1 :

In [27]:
names = str("john@google.com")
unwanted = ("!@#$;:!*%)(&^~")    
names = "".join(c for c in names if c not in unwanted)
print("The input is :", "john@google.com")
print("The output is :",names[4:])

The input is : john@google.com
The output is : google.com

#Question 2

In [36]:

y=input()
y=y.split(",")
y=sorted(y)
print(",".join(y))
for i in y :
    print(i)

without,hello,bag,world
bag,hello,without,world
bag
hello
without
world

# Question 3

In [4]:
thisset = {"apple","bananas","cherry"}
print(thisset)

{'cherry', 'bananas', 'apple'}

In [5]:
for x in thisset :
    print(x)

cherry
bananas
apple

In [7]:
print("bananas" in thisset)
thisset.add("orange")

True

In [8]:
thisset = {"apple", "banana", "cherry"}

In [9]:
thisset.update(["orange", "mango", "grapes"])

In [10]:
print(thisset)

{'orange', 'cherry', 'grapes', 'mango', 'banana', 'apple'}

# Get the Length of a Set

In [11]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Remove Item

In [12]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [13]:
 thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [14]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [15]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [16]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [18]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Question 4

In [33]:
# a represents the array
# n : Number of elements in array a
def getMissingNo(a, n): 
    i, total = 0, 1
    for i in range(2, n + 2):
        total += i
        total -= a[i - 2]
    return total
 
# Driver Code
arr = [1, 2, 3, 4,6,7,8]
getMissingNo(arr, len(arr))
print(getMissingNo(arr, len(arr)))

5

# Question 5
# Python code to remove duplicate elements

In [37]:

def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list

In [43]:
duplicate = [12 ,24 ,35 ,24, 88 ,120 ,155, 88 ,120, 155] 
print(Remove(duplicate))

[12, 24, 35, 88, 120, 155]

In [44]:
import os
os.getcwd()

'/home/billo/AI-ML/p-essiantial-D3'